<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>404-Not Found</title>
</head>
<body>
  <div class="container">
    <div id="#navbar">
      {{>header}}
    </div>
    <div id="showcaseError" class="showcase">
      <h1>404</h1>
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div id="footer">
  </div>
  <footer>
    {{>footer}}
  </footer>
</body>
</html>