
  <div class="header">    
      <div class="logo">
        WHEATHER APP
      </div>
      <nav>
        <div>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
        </div>
      </nav>
  </div>

